.castList {
display: flex;
flex-wrap: wrap;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: baseline;
align-items: baseline;
gap: 25px;
padding: 30px;
}

.castListItem {
    list-style: none;
}