.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.reviewsListItem {
    list-style: none;
}

.infoMsg {
    font-size: 20px;
    margin-left: 25px;
    color: red;
}